@import 'tailwindcss';

/* ==== Fonts ==== */

/* Karaoke */
@font-face {
  font-family: 'Karaoke';
  src: url('./assets/fonts/LT_karaoke/LTKaraoke-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karaoke';
  src: url('./assets/fonts/LT_karaoke/LTKaraoke-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karaoke';
  src: url('./assets/fonts/LT_karaoke/LTKaraoke-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karaoke';
  src: url('./assets/fonts/LT_karaoke/LTKaraoke-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karaoke';
  src: url('./assets/fonts/LT_karaoke/LTKaraoke-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Raveo */
@font-face {
  font-family: 'Raveo';
  src:
    url('./assets/fonts/raveo/fonts/variable/RaveoVF.ttf') format('truetype'),
    url('./assets/fonts/raveo/fonts/variable/RaveoVF.woff2') format('woff2'),
    url('./assets/fonts/raveo/fonts/variable/RaveoVF-subsetted.woff2')
      format('woff2');
  font-style: normal;
  font-display: swap;
}

/* ==== Theme ==== */

@theme {
  --color-primary: #6200ee;
  --color-primary-400: #7616ff;
  --color-primary-300: #8d3dff;
  --color-primary-200: #a465ff;
  --color-primary-100: #b078ff;
  --color-primary-50: #bb8cff;
  --color-primary-10: #c7a0ff;

  --color-secondary: #03dac6;
  --color-secondary-400: #69fdef;
  --color-secondary-300: #7dfdf1;
  --color-secondary-200: #90fdf3;
  --color-secondary-100: #a3fef5;
  --color-secondary-50: #b7fef7;
  --color-secondary-10: #cafef9;
}

:root {
  font-family: 'Raveo', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
